/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px; /* 15px; */
    padding-right: 0px; /*15px;*/
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-top-links .dropdown-menu li p {
    padding: 2px 20px;
    min-height: 0;
    color: #808080;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
    color: #71c55d;
}

.nav-menu a {
    padding: 8px 8px;
    text-decoration: none;
    display: inline-block;
    color: #555;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    letter-spacing: 0;
    transition: 0.3s;
}

/* Hero, info page */

/*#hero {
    width: 100%;
    height: calc(100vh - 40px);
    background-size: 100%;
    position: relative;
    margin-top: 40px;
}*/

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    font-family: "Philosopher", sans-serif;
    color: #71c55d;
}

#hero h2 {
    color: #777;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

#hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 11px 36px;
    border-radius: 50px;
    transition: 0.5s;
    margin-bottom: 30px;
    border: 2px solid #71c55d;
    background: #fff;
    color: #71c55d;
    text-decoration: none;
}

#hero img {
    max-width: 95%;
    margin-bottom: 30px;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}



